.container-fluid {
    > * {
        margin: 5px;
    }

    .search-input {
        width: 80%;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 15px;
        box-shadow: 0 0 100px -13px gray;

        &:focus {
            outline: 0;
        }
    }
}
