<div class="ms-modal" (click)="closeModal($event)">
    <div class="ms-modal-content">
        <div class="content">
            <span class="close" (click)="closeEmitter.emit()">&times;</span>
            <img class="w-100" [src]="movieImage ?? '../../../assets/image-placeholder.jpg'">
            <div class="details p-3">
                <div class="container-fluid title">
                    <span>{{'MOVIE_INFO.TITLE' | translate}}</span><br/>
                    {{movie.title}}
                </div>
                <div class="container-fluid title">
                    <span>{{'MOVIE_INFO.RELEASE_DATE' | translate}}</span><br/>
                    {{movie.release_date}}
                    <ng-container
                        *ngIf="!movie.release_date">{{'MOVIE_INFO.NO_RELEASE_DATE' | translate}}</ng-container>
                </div>
                <div *ngIf="movie.overview"
                     class="container-fluid">
                    <span>{{'MOVIE_INFO.DESCRIPTION' | translate}}</span><br/>
                    {{movie.overview}}
                </div>
                <div *ngIf="movie.vote_average" class="percentage-container">
                    <div class="c100 center small percentage"
                         [ngClass]="[
                         'p'+(movie.vote_average | numberToPercentage),
                          movie.vote_average | numberToPercentage | percentageToColor]">
                        <span>{{movie.vote_average | numberToPercentage}}%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
